@import 'base.css';
@media only screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 11.25px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 12.5px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 20px;
  }
}
header {
  background-color: #efeff0;
  height: 1.40625rem;
}
header .fl {
  font-size: 0.4375rem;
  padding-left: 0.375rem;
  line-height: 1.40625rem;
}
header .fr {
  line-height: 1.40625rem;
}
header .fr li {
  float: left;
  margin: 0 0.1875rem;
}
nav {
  width: 100%;
  height: 2.96875rem;
  line-height: 2.96875rem;
  background-color: #0099ff;
  position: relative;
}
nav .search {
  margin: 0 auto;
  width: 16.5rem;
  height: 1.5rem;
  position: relative;
}
nav .search input {
  width: 16.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: #0099ff;
  border: 0.0625rem solid white;
  color: white;
  padding-left: 1.5625rem;
  font-size: 0.8125rem;
}
nav .search .icon-fangdajing {
  position: absolute;
  top: 0.1875rem;
  left: 0.3125rem;
  color: white;
  font-size: 0.9375rem;
}
nav .icon-dz-dingwei,
nav .location,
nav .Scan,
nav .icon-scan-o {
  position: absolute;
  color: white;
  width: 3.125rem;
}
nav .icon-dz-dingwei,
nav .icon-scan-o {
  top: -0.3125rem;
  height: 2rem;
  font-size: 1.5rem;
}
nav .icon-dz-dingwei {
  left: 1.875rem;
}
nav .icon-scan-o {
  right: 0;
}
nav .Scan,
nav .location {
  top: 0.8125rem;
  height: 0.625rem;
  font-size: 0.4375rem;
}
nav .location {
  left: 1.5625rem;
}
nav .Scan {
  right: 0.75rem;
}
.classify .business {
  background: white;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 0.625rem;
}
.classify .business i {
  color: #0099ff;
  font-size: 1.5625rem;
}
.classify .business span {
  font-size: 1.25rem;
}
.classify .mui-content {
  background-color: #fff;
}
.classify .mui-content span {
  font-size: 3.125rem;
}
.classify .content {
  background: #fff !important;
}
.classify .content ul {
  background-color: #fff !important;
  padding: 0 0.375rem;
  border: none;
}
.classify .content ul li {
  background-color: #fafafa !important;
}
.classify .content ul li .icon-1 {
  color: #fd5e5e;
}
.classify .content ul li .icon-shouji,
.classify .content ul li .icon-icon-test {
  color: #ffab33;
}
.classify .content ul li .icon-icon-test1 {
  color: #6cb4fe;
}
.classify .content ul li .icon-web-cjiagongmaoyi {
  color: #ff6d57;
}
.classify .content ul li .icon-mianliao_mianliao {
  color: #ffcd34;
}
.classify .content ul li .icon-4 {
  color: #33d198;
}
.classify .content ul li .icon-bolangneng {
  color: #7067e2;
}
.classify .content ul li span {
  font-size: 2.5rem;
}
.classify .content ul li div {
  font-size: 0.5rem !important;
}
.classify .spot {
  height: 1.28125rem;
  text-align: center;
  background-color: #fff;
}
.classify .spot ul {
  height: 1.28125rem;
  line-height: 1.28125rem;
  display: table;
  text-align: center;
  margin: 0 auto;
}
.classify .spot ul li {
  width: 0.46875rem;
  height: 0.46875rem;
  float: left;
  border-radius: 50%;
  margin-top: 0.5rem;
}
.classify .spot ul .spot-l {
  background-color: #0099ff;
}
.classify .spot ul .spot-r {
  margin-left: 0.46875rem;
  background-color: #e6e6e6;
}
.commodity {
  background-color: #fafafa;
  height: 2.625rem;
  line-height: 2.625rem;
  border-bottom: 0.03125rem solid #e6e6e6;
}
.commodity > i {
  color: #0099ff;
  font-size: 1.5625rem;
}
.commodity > span {
  font-size: 1.25rem;
  margin-left: -1.0625rem;
}
.commodity .fr {
  color: #999;
  margin-right: 0.625rem;
}
.commodity .fr span {
  font-size: 0.8125rem;
}
.commodity .fr i {
  font-size: 1.125rem;
  font-weight: bold;
}
.exhibition {
  background-color: #fafafa;
}
.exhibition li {
  width: 100% !important;
}
.exhibition li a img {
  border: 0.0625rem solid #e6e6e6;
  width: 6.875rem;
  height: 4.375rem;
}
.exhibition li a .product {
  margin-top: -0.1875rem;
  padding-left: 0.625rem;
  font-size: 1.1875rem;
}
.exhibition li a .product span {
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}
.exhibition li a .product p {
  font-size: 0.5625rem !important;
}
.exhibition li a .product .product-text {
  margin-top: -0.625rem;
  font-size: 0.625rem;
}
.exhibition li a .product-r .money {
  color: #0099ff;
  font-size: 1.1875rem;
  margin-top: -4.4375rem;
  margin-left: 4.375rem;
}
.exhibition li a .product-r .km {
  font-size: 0.625rem;
  margin-top: 1.25rem;
  margin-left: 4.0625rem;
}
.clearance-one {
  height: 0.46875rem;
  background-color: #fafafa;
}
.lists {
  background-color: #fff;
  height: 2.625rem;
  line-height: 2.625rem;
  border-bottom: 0.03125rem solid #e6e6e6;
}
.lists > i {
  color: #0099ff;
  font-size: 1.5625rem;
  margin-left: 0.75rem;
}
.lists > span {
  font-size: 1.25rem;
}
.lists .fr {
  color: #999;
  margin-right: 0.625rem;
}
.lists .fr span {
  font-size: 0.8125rem;
}
.lists .fr i {
  font-size: 1.125rem;
  font-weight: bold;
}
.clearance-two {
  height: 0.5625rem;
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
}
footer {
  background-color: #fff;
}
footer .iconfont {
  font-size: 1.8125rem;
}
footer .footer-text {
  font-size: 0.375rem;
}
footer .home-page {
  color: #0099ff;
}
