@import 'adapter.less';
@import 'base.css';

// 头部 start
header{
    background-color: #efeff0;
    // width: 100%;
    height: 45/32rem;
    .fl{
        font-size: 14/32rem;
        padding-left: 12/32rem;
        line-height: 45/32rem;
    }
    .fr{
        line-height: 45/32rem;
        li{
            float: left;
            margin: 0 6/32rem;
        }
    }
}
// 搜索 start 
nav{
    width: 100%;
    height: 95/32rem;
    line-height: 95/32rem;
    background-color: #0099ff;
    position: relative;
    .search{
        margin: 0 auto;
        width: 528/32rem;
        height: 48/32rem;
        position: relative;
        input{
            width: 528/32rem;
            height: 48/32rem;
            line-height: 48/32rem;
            background-color: #0099ff;
            border: 2/32rem solid white;
            color: white;
            padding-left: 50/32rem;
            // margin-left: -30/32rem;
            font-size: 26/32rem;
        }
        .icon-fangdajing{
            position: absolute;
            top: 6/32rem;
            left: 10/32rem;
            color: white;
            font-size:30/32rem;
        }
    }
    .icon-dz-dingwei,
    .location,
    .Scan,
    .icon-scan-o{       
        position: absolute;
        color: white;
        width: 100/32rem;
    }
    .icon-dz-dingwei,
    .icon-scan-o{
        top: -10/32rem;
        height: 64/32rem;
        font-size: 48/32rem;
    }
    .icon-dz-dingwei{
        left: 60/32rem;
    }
    .icon-scan-o{
        right: 0;
    }
    .Scan,
    .location{
        top: 26/32rem;
        height: 20/32rem;
        font-size: 14/32rem;
    }
    .location{
        left: 50/32rem;
    }
    .Scan{
        right: 24/32rem;
    }
}

// 商家分类 start
.classify{
    .business{
        background: white;
        height: 80/32rem;
        line-height: 80/32rem;
        padding-left: 20/32rem;
        i{
            color: #0099ff;
            font-size: 50/32rem;
        }
        span{
            font-size: 40/32rem;
        }
    }
    .mui-content{
        background-color: #fff;
        span{
            font-size: 100/32rem;
        }
    }
    .content{
        background: #fff !important;
        ul{
            background-color: #fff !important;  
            padding: 0 12/32rem;
            border: none;
            li{
                background-color: #fafafa !important;
                // border: none;
                .icon-1{
                    color: #fd5e5e;
                }
                .icon-shouji,
                .icon-icon-test{
                    color: #ffab33;
                }
                .icon-icon-test1{
                    color: #6cb4fe;
                }
                .icon-web-cjiagongmaoyi{
                    color: #ff6d57;
                }
                .icon-mianliao_mianliao{
                    color: #ffcd34;
                }
                .icon-4{
                    color: #33d198;
                }
                .icon-bolangneng{
                    color: #7067e2;
                }
                span{
                    font-size: 80/32rem;
                }
                div{
                    font-size: 16/32rem !important;
                }
            }
        }
    }
    .spot{
        height: 41/32rem;
        text-align: center;
        background-color: #fff;
        ul{
            height: 41/32rem;
            line-height: 41/32rem;
            display: table;
            text-align: center;
            margin: 0 auto;
            li{
                width: 15/32rem;
                height: 15/32rem;
                float: left;
                border-radius: 50%;
                margin-top: 16/32rem;
            }
            .spot-l{
                background-color: #0099ff;
            }
            .spot-r{
                margin-left: 15/32rem;
                background-color:#e6e6e6;
            }
        }
    }
}
// 特推商品 start
.commodity{
    background-color: #fafafa;
    height: 84/32rem;
    line-height: 84/32rem;
    border-bottom: 1/32rem solid #e6e6e6;
        // margin-left: -10/32rem;
    > i{
        color: #0099ff;
        font-size: 50/32rem;
    }
    > span{
        font-size: 40/32rem;
        margin-left: -34/32rem;
    }
    .fr{
        color: #999;
        margin-right: 20/32rem;
        span{
            font-size: 26/32rem;
        }
        i{
            font-size: 36/32rem;
            font-weight: bold;
        }
    }
}
.exhibition{
    background-color: #fafafa;
    li{
        width: 100% !important;
        a{
            img{
                border: 2/32rem solid #e6e6e6;
                width: 220/32rem;
                height: 140/32rem;
            }
            .product{
                margin-top: -6/32rem;
                padding-left: 20/32rem;
                font-size: 38/32rem;
                span{
                    font-size: 32/32rem;
                    margin-bottom: 30/32rem;
                }
                p{
                    font-size: 18/32rem !important;
                }
                .product-text{
                    margin-top: -20/32rem;
                    font-size: 20/32rem;
                        // width: 274/32rem;
                        // height: 54/32rem;
                }
            }
            .product-r{
                // margin-left: 100px;
                .money{
                    color: #0099ff;
                    font-size: 38/32rem;
                    margin-top: -142/32rem;
                    margin-left: 140/32rem;
                }
                .km{
                    font-size: 20/32rem;
                    margin-top: 40/32rem;
                    margin-left: 130/32rem;
                }
            }
        }   
    }
}
.clearance-one{
    height: 15/32rem;
    background-color: #fafafa;
}
// 商品列表 start
.lists{
    background-color: #fff;
    height: 84/32rem;
    line-height: 84/32rem;
    border-bottom: 1/32rem solid #e6e6e6;
    > i{
        color: #0099ff;
        font-size: 50/32rem;
        margin-left: 24/32rem;
    }
    > span{
        font-size: 40/32rem;
        // margin-left: -34/32rem;
    }
    .fr{
        color: #999;
        margin-right: 20/32rem;
        span{
            font-size: 26/32rem;
        }
        i{
            font-size: 36/32rem;
            font-weight: bold;
        }
    }
}
.clearance-two{
    height: 18/32rem;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}
// 尾部 start
footer{
    background-color: #fff;
    .iconfont{
        font-size: 58/32rem;
    }
    .footer-text{
        font-size: 12/32rem;
    }
    .home-page{
        color: #0099ff;
    }
    
}